* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: rgb(218, 219, 212);
    background: linear-gradient(0deg, rgba(218, 219, 212, 1) 85%, rgba(0, 150, 136, 1) 85%);
    height: 100vh;
    background-repeat: no-repeat;
    overflow: hidden;
}

/* My Style */

.my-container {
    margin-top: calc((100vh - 900px) / 2);
    height: 900px;
}
.my-message,
.right-header,
.my-profile {
    height: 60px;
}

.my-image {
    width: 50px;
    height: 50px;
}

.my-search {
    height: 50px;
}

.my-contacts {
    overflow-y: scroll;
    cursor: pointer;
    height: calc(900px - 60px - 50px);
}
.my-profile,
.my-search,
.my-active-contacts {
    background-color: #EAEAEA;
}